a {
  color: #000;
  text-decoration: none;
}

.list a {
  color: blue;
  font-size: 20px;
  /* bold or 700 */
  font-weight: bold;
}

.box {
  height: 1000px;
  /* 좌.상 -> 우.상 -> 우.하 -> 좌.하 */
  border-radius: 30px;
}

.line-red {
  border: 5px solid red;
}

.line-blue {
  border: 5px solid blue; 
}

.line-green {
  border: 5px solid green; 
}