* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

.global-header {
  display: flex;
  /* 수평 양 끝 정렬 */
  justify-content: space-between;
  /* 수직 가운데 정렬 */  
  align-items: center;
  /* padding : 상하, 좌우 */
  padding: 12px 20px;
  background-color: #333;
}

.logo img {
  width: 60px;
}

.gnb-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
}

.gnb-list li a {
  color: #fff;
  font-weight: 700;
  /* padding: 0 20px; */
}

.gnb-list li a:hover {
  color: dodgerblue;
  text-decoration: underline;
}

.back-img {
  height: 600px;
  background-image: url(./images/back.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.back-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  color: #fff;
}

.back-txt p,
.back-txt button {
  margin-top: 20px;
}

.back-txt p {
  font-size: 18px;
}

.back-txt button {
  padding: 12px;
  border-radius: 8px;
}

.second-box {
  width: 500px;
  /* margin : top right bottom left */
  margin: -66px auto 0 auto;
  /* top,bottom / right/left */
  padding: 40px 36px;
  text-align: center;
  border-radius: 20px;
  color: #fff;
  background-color: #000;
}

.second-box p {
  margin-top: 24px;
}