.gowun-dodum-regular {
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Gowun Dodum", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  border: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}