.gowun-dodum-regular {
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

/* 모바일 버전에서만 보일 요소 (D,T모드에서는 보이지 않게 NONE)*/
.sm-only {
  display: none;
}

body {
  font-family: "Gowun Dodum", sans-serif;
}

.global-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  background-color: skyblue;
}

.logo img {
  width: 60px;
}

.gnb-list {
  display: flex;
}

.gnb-list li {
  margin-right: 20px;
}

.gnb-list li:last-child {
  margin-right: 0;
}

.gnb-list li a {
  font-weight: 700;
  transition: color 300ms;
}

.gnb-list li a:hover {
  color: dodgerblue;
}

.back-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  color: #fff;
  background-image: url(./assets/images/스누피배경.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.back-img h2 {
  font-size: 42px;
}

.back-img p {
  width: 800px;
  margin-top: 20px;
  text-align: center;
  font-size: 22px;
}

.popup-open-btn {
  margin-top: 20px;
  padding: 12px 20px;
  border-radius: 8px;
  background-color: #fff;
}

.card-list {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 40px auto;
}

.card-list div {
  width: 30%;
  text-align: center;
  padding: 20px 12px;
  border-radius: 12px;
  background-color: rgb(185, 235, 255);
}

.card-list div p {
  margin-top: 12px;
}

.fix-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: rgb(185, 235, 255);
}

.fix-box div {
  width: 500px;
  height: 500px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 500px;
  background-attachment: fixed;
}

.fix-img1 {
  margin-right: 20px;
  background-image: url(./assets/images/pngegg.png);
  background-position: bottom left 260px;
}

.fix-img2 {
  background-image: url(./assets/images/스누피2.png);
  background-position: bottom right 240px;
}

.global-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  color: #fff;
  background-color: skyblue;
}

.sns-link {
  display: flex;
}

.sns-link li a {
  padding: 12px;
}

.sns-link li a i {
  font-size: 30px;
  transition: color 300ms;
}

.sns-link li a i:hover {
  color: dodgerblue;
}

.top-btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.top-btn a i {
  font-size: 40px;
  color: rgb(14, 101, 135);
}

.quick-menu {
  position: fixed;
  top: 120px;
  right: 50px;
}

.quick-menu ul {
  width: 200px;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 12px;
}

.quick-menu ul li a {
  color: #333;
}

.popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 12px;
  background-color: #fff;
}

.popup.is-active {
  display: block;
}

.popup-header {
  display: flex;
  justify-content: space-between;
}

.popup-close-btn {
  font-size: 30px;
}

.popup img {
  width: 100%;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  padding: 20px;
  background-color: #fff;
}

.sidebar-close-btn {
  text-align: right;
  font-size: 22px;
}

.sidebar ul li {
  text-align: center;
}

.sidebar ul li a {
  display: inline-block;
  padding: 8px 0;
  font-size: 18px;
  color: #000;
}

@media screen and (max-width : 1200px) {
  .card-list {
    width: 70%;
    flex-direction: column;
  }
  
  .card-list div {
    width: 100%;
    margin: 12px 0;
    text-align: center;
  }

  .fix-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: rgb(185, 235, 255);
  }
  
  .fix-box div {
    background-color: transparent;
  }
  
  .fix-img1 {
    margin-right: 0;
    background-image: url(./assets/images/pngegg.png);
    background-position: bottom center;
  }
  
  .fix-img2 {
    display: none;
  }
  
}

@media screen and (max-width : 768px) {
  .sm-only {
    display: block;
  }

  .card-list {
    width: 90%;
  }

  .global-footer {
    flex-direction: column;
    margin-top: 12px;
  }  

  .sns-link li a {
    padding: 8px;
  }
  
  .sns-link li a i {
    font-size: 20px;
  }

  .quick-menu {
    display: none;
  }
}