.gowun-dodum-regular {
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}

body {
  font-family: "Gowun Dodum", sans-serif;
}

.global-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  background-color: skyblue;
}

.logo img {
  width: 60px;
}

.gnb-list {
  display: flex;
}

.gnb-list li {
  margin-right: 20px;
}

.gnb-list li:last-child {
  margin-right: 0;
}

.gnb-list li a {
  font-weight: 700;
  transition: color 300ms;
}

.gnb-list li a:hover {
  color: dodgerblue;
}

.back-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  color: #fff;
  background-image: url(./assets/images/스누피배경.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.back-img h2 {
  font-size: 42px;
}

.back-img p {
  width: 800px;
  margin-top: 20px;
  text-align: center;
  font-size: 22px;
}

.popup-open-btn {
  margin-top: 20px;
  padding: 12px 20px;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
}